@charset "UTF-8";
/* oswald-regular - latin */
@font-face {
  font-family: "ITC Charter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/charteritc.eot"), url("../fonts/charteritc.woff") format("woff"), url("../fonts/charteritc.ttf") format("svg");
}
@font-face {
  font-family: "Conv_charteritc-bold";
  src: url("../fonts/charteritc-bold.eot");
  src: local("☺"), url("../fonts/charteritc-bold.woff") format("woff"), url("../fonts/charteritc-bold.ttf") format("truetype"), url("../fonts/charteritc-bold.svg") format("svg");
  font-weight: 700;
}
body .lorem {
  color: #001b7b;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "ITC Charter";
}

body .lorem2 {
  color: #001b7b;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Conv_charteritc-bold";
}