@charset "UTF-8";
/* oswald-regular - latin */
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/charteritc.eot");
  src: local("☺"), url("../fonts/charteritc.woff") format("woff"), url("../fonts/charteritc.ttf") format("truetype"), url("../fonts/charteritc.svg") format("svg");
}
@font-face {
  font-family: "CharterBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/charteritc-bold.eot");
  src: local("☺"), url("../fonts/charteritc-bold.woff") format("woff"), url("../fonts/charteritc-bold.ttf") format("truetype"), url("../fonts/charteritc-bold.svg") format("svg");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: inherit;
}

.yellowBtn {
  border: none;
  padding: 13px 15px;
  border-radius: 5px;
  background: #ffe14a;
  color: #272b33;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

body {
  font-family: Charter;
  color: #272b33;
  line-height: 1;
  font-size: 16px;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
}

.header .header__top {
  background-color: #001b7b;
  padding: 10px 0;
}
.header .header__top .header__container {
  color: white;
}
.header .header__top .header__container .header__top-left .logo-link {
  margin-left: 50px;
}
.header .header__top .header__container .header__top-right .header__phone, .header .header__top .header__container .header__top-right .header__email {
  font-family: Charter;
  font-size: 20px;
  border-right: 1px solid #ffe14a;
  margin-right: 13px;
  padding-right: 13px;
}
.header .header__content {
  background: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .header__content .header__content-text {
  position: relative;
}
.header .header__content .header__content-text h4 {
  padding-bottom: 15px;
  border-bottom: 3px solid gray;
  font-family: CharterBold;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 16px;
}
.header .header__content .header__content-text h1 {
  font-size: 42px;
  line-height: 53px;
  position: relative;
}
.header .header__content .header__content-text .yellowBlock:after {
  content: "";
  position: absolute;
  width: 525px;
  height: 348px;
  border: 8px solid #ffe14a;
  top: 46%;
  right: 0;
  border-radius: 150px 0 150px 0;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section h2 {
  font-size: 34px;
  margin-bottom: 60px;
  text-align: center;
}
.section .section__item {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  border-radius: 150px 0 150px 0;
  border: 3px solid #ffe14a;
  padding: 52px 40px;
  margin-bottom: 40px;
}
.section .section__item .section__item-header {
  text-align: center;
}
.section .section__item .section__item-header .section__item-title {
  color: #001b7b;
  font-size: 26px;
  font-family: CharterBold;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section .section__item .section__item-header .section__item-subtitle {
  color: #272b33;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 3px;
  line-height: 30px;
}
.section .section__item .section__item-body {
  margin-bottom: 35px;
}
.section .section__item .section__item-body ul {
  position: relative;
  left: 20px;
}
.section .section__item .section__item-body ul li {
  margin-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  position: relative;
}
.section .section__item .section__item-body ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #ffe14a;
  position: absolute;
  left: -18px;
  top: 5px;
  border-radius: 50%;
}
.section .section__item .section__item-footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .section__item .section__item-footer a:hover {
  background: #c9cacc;
  border-color: #c9cacc;
}
.section .section__item .section__item-footer a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #939599;
}
.section .section__item form input {
  border: none;
  border-bottom: 1px solid #272b33;
  width: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
}
.section .section__item form .yellowBtn {
  border: none;
  padding: 13px 15px;
  border-radius: 5px;
  background: #ffe14a;
  color: #272b33;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.section .auditingServices {
  background-image: url(../img/desktop/01.png);
}
.section .countingServices {
  background-image: url(../img/desktop/02.png);
}
.section .testingServices {
  background-image: url(../img/desktop/03.png);
}
.section .legalServices {
  background-image: url(../img/desktop/04.png);
}
.section .economicExpertise {
  background-image: url(../img/desktop/05.png);
}
.section .appraisalServices {
  background-image: url(../img/desktop/06.png);
}

.ourExperts {
  background: #001b7b;
  color: white;
}
.ourExperts .expert-title {
  color: #ffe14a;
}
.ourExperts .expert-item .expert-img {
  border-radius: 3px;
}
.ourExperts .expert-item .expert-body .expert__body-title {
  text-align: center;
}
.ourExperts .expert-item .expert-body .expert-speciality {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #ffe14a;
}

.contact .contact-img {
  width: 100%;
}
.contact .contact__info {
  padding: 50px 75px 34px 65px;
  border: 3px solid #ffe14a;
  border-radius: 150px 0 150px 0;
}
.contact .contact__info .contact__info-item {
  margin-bottom: 25px;
}
.contact .contact__info .contact__info-item .info__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.contact .contact__info .contact__info-item .info__item-top img {
  width: 40px;
}
.contact .contact__info .contact__info-item .info__item-top h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: CharterBold;
  margin-bottom: 0;
  margin-left: 10px;
}
.contact .contact__info .contact__info-item p {
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.contact .contact__info .info__item-phone {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}
.contact .contact__info .info__item-phone h3 {
  margin-left: 2px !important;
}

.vacancy {
  padding-bottom: 0;
}
.vacancy .vacancy__content {
  -webkit-box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
  padding: 30px;
}
.vacancy .vacancy__content .vacancy__aside {
  border-right: 1px solid #d2d2d2;
  height: 100%;
}
.vacancy .vacancy__content .vacancy__aside h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
.vacancy .vacancy__content .vacancy__text p, .vacancy .vacancy__content .vacancy__text ul {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}
.vacancy .vacancy__content .vacancy__text ul li {
  position: relative;
}
.vacancy .vacancy__content .vacancy__text ul li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: -15px;
  top: 14px;
  border-radius: 50%;
  background: #272b33;
}

.footer {
  background: #001b7b;
  color: white;
  padding: 55px;
  font-family: "Open Sans", sans-serif;
}
.footer .footer__logo {
  width: 120px;
  margin-bottom: 30px;
}
.footer .footer__logo img {
  width: 100%;
}
.footer .confidentiality img, .footer .confidentiality a {
  margin-right: 20px;
}
.footer .confidentiality .insta {
  width: 27px;
}
.footer .copyright {
  margin-top: 35px;
}
.footer .firstBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .services h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .services ul li {
  margin-bottom: 15px;
  line-height: 30px;
  position: relative;
}
.footer .services ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  left: -16px;
  top: 13px;
  position: absolute;
}
.footer .about ul li {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}