/* oswald-regular - latin */
@font-face {
    font-family: "Charter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/charteritc.eot");
    src: local("☺"), url("../fonts/charteritc.woff") format("woff"),
        url("../fonts/charteritc.ttf") format("truetype"),
        url("../fonts/charteritc.svg") format("svg");
}

@font-face {
    font-family: "CharterBold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/charteritc-bold.eot");
    src: local("☺"), url("../fonts/charteritc-bold.woff") format("woff"),
        url("../fonts/charteritc-bold.ttf") format("truetype"),
        url("../fonts/charteritc-bold.svg") format("svg");
}

$yellow: #ffe14a;
$hoverYellow: #fff0a1;
$clickYellow: #ffc122;

$hoverBtnWhite: #c9cacc;
$clickBtnWhite: #939599;

$blue: #001b7b;
$gray: #272b33;
$hoverText: #2f80ed;

$openSans: Open Sans, sans-serif;
$charter: Charter;
$charterBold: CharterBold;
$fontFamily: $openSans;

@mixin mainFonts(
    $color: green,
    $fontSize: 16px,
    $fontWeight: normal,
    $textTransform: none,
    $fontFamily: openSans
) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-transform: $textTransform;
    font-family: $fontFamily;
}
// @include mainFonts($mainBlue, 26px, bold, uppercase, "CharterBold");

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul{
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}
a:hover{
    color:inherit;
}

body {
    font-family: $charter;
    color: $gray;
    line-height: 1;
    font-size: 16px;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto;
}
.header{
    .header__top {
        background-color: $blue;
        padding: 10px 0;
        .header__container {
            color: white;
            .header__top-left {
                .logo-link {
                    margin-left: 50px;
                }
            }
            .header__top-right{
                .header__phone, .header__email{
                    font-family: $charter;
                    font-size: 20px;
                    border-right: 1px solid $yellow;
                    margin-right: 13px;
                    padding-right: 13px;
                }
            }
        }
    }
    .header__content{
        background: url('../img/header-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 545px;
        display: flex;
        align-items: center;
        position: relative;
        //.header-overlay{
            //height: inherit;
            //position: absolute;
            //width: 100%;
            //background: rgba(0 0 0 /30%);
            .header__content-text{
                position: relative;
                h4{
                    padding-bottom: 15px;
                    border-bottom: 3px solid gray;
                    font-family: $charterBold;
                    font-size: 22px;
                    display: inline-block;
                    margin-bottom: 16px;
                }
                h1{
                    font-size: 42px;
                    line-height: 53px;
                    position: relative;
                }
                .yellowBlock{
                    &:after{
                        content:"";
                        position: absolute;
                        width: 525px;
                        height: 348px;
                        border:8px solid $yellow;
                        top: 46%;
                        right:0;
                        -webkit-border-radius: 150px 0 150px 0;
                        -moz-border-radius: 150px 0 150px 0;
                        border-radius: 150px 0 150px 0;
                        -webkit-transform: translateY(-40%);
                        -moz-transform: translateY(-40%);
                        -ms-transform: translateY(-40%);
                        -o-transform: translateY(-40%);
                        transform: translateY(-40%);
                    }
                }
            }
        //}

    }
}

.section{
    padding-top: 65px;
    h2{
        font-size: 34px;
        margin-bottom: 45px;
        text-align: center;
    }
    .section__item{
        background-image: url(../img/desktop/01.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto;
        -webkit-border-radius: 150px 0 150px 0;
        -moz-border-radius: 150px 0 150px 0;
        border-radius: 150px 0 150px 0;
        border:3px solid $yellow;
        padding: 52px 40px;
        .section__item-header{
            text-align: center;
            .section__item-title{
                color:$blue;
                font-size: 26px;
                font-family: $charterBold;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .section__item-subtitle{
                color:$gray;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }
        .section__item-body{
            margin-bottom: 35px;
            ul{
                position: relative;
                left: 20px;
                li{
                    margin-bottom: 18px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    position: relative;
                    &:before{
                        content: "";
                        width: 6px;
                        height: 6px;
                        background: $yellow;
                        position: absolute;
                        left: -18px;
                        top: 5px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .section__item-footer a{
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            display: flex;
            align-items: center;
            &:hover{
                background: $hoverBtnWhite;
                border-color:$hoverBtnWhite;
            }
            &:focus{
                box-shadow:none;
                background: $clickBtnWhite;
            }
        }
        form{
            input{
                border:none;
                border-bottom:1px solid $gray;
                width:120px;
                font-family:"Open Sans", sans-serif;
                font-size: 14px;
                margin-left: 20px;
                margin-right: 20px;
                outline:none;
            }
            button{
                border:none;
                padding: 13px 15px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                background: $yellow;
                color: $gray;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

